* {
	box-sizing: border-box;
}
.container {
	margin: auto;
  	min-height: 100vh;
  	display: flex;
  	align-items: center;

  	color: white;

    font: 400 1em/1.5 'Open Sans', sans-serif;
}
a {
	color: white;
	text-decoration: none;
}
h1 {
	font-weight: 300;
	text-transform: uppercase;
}
img {
	max-width: 100%;
	height: auto;
}


/*Header*/
header {
	text-align: center;
	margin: auto;
	font-weight: 300;
	color: white;
	font-family: 'Raleway', sans-serif;
}
header nav a {
	font-size: 2em;
}

/*Content*/
.main {
	max-width: 60em;
	margin: auto;
	display: flex;
}
.mainContent {

	/*Til þess að texti geti farið yfir myndir þá er dökkur gegnsær bakgrunnur.
	Ef textin er hvítur ætti það að virka með öllum myndum*/
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.5);

	padding: 2em;
}


/*Backgrounds*/
/*Kanski að setja myndband fyrir aftan einn hluta, timlapse footage*/
.brickBackground {
	background: linear-gradient(180deg, rgba(0, 0, 0, .8), transparent), url(https://www.introversion.co.uk/prisonarchitect/platform-selector/assets/images/darkbrick.png);
}
.prison1Background {
	background: linear-gradient(180deg, rgba(0, 0, 0, .8), transparent), url(https://www.introversion.co.uk/prisonarchitect/images/screenshots/large/prison-architect-2.jpg);
}