* {
	box-sizing: border-box;
}
.container {
	margin: auto;
  	min-height: 100vh;
  	display: flex;
  	align-items: center;

    font: 400 1em/1.5 'Open Sans', sans-serif;
}
a {
	color: white;
	text-decoration: none;
}
h1 {
	font-weight: 300;
	text-transform: uppercase;
}
img {
	max-width: 100%;
	height: auto;
}



header {
	text-align: center;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*Backgrounds*/
/*Possibly timelapse build video backgrounds??*/
.brickBackground {
	background: linear-gradient(180deg, rgba(0, 0, 0, .8), transparent), url(https://www.introversion.co.uk/prisonarchitect/platform-selector/assets/images/darkbrick.png);
}
.prison1Background {
	background: linear-gradient(180deg, rgba(0, 0, 0, .8), transparent), url(https://www.introversion.co.uk/prisonarchitect/images/screenshots/large/prison-architect-2.jpg);
}